@model CourseUpdateViewModel


<div class="row col-lg-12">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Course</h4>

                <form class="forms-sample" method="post" asp-action="update" enctype="multipart/form-data" en>
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Image">Name</label>
                        <input asp-for="Image" class="form-control" placeholder="Name">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="About">About</label>
                        <input asp-for="About" class="form-control" placeholder="About">
                        <span asp-validation-for="About" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="ApplyContent">Apply Content</label>
                        <input asp-for="ApplyContent" class="form-control" placeholder="Apply Content">
                        <span asp-validation-for="ApplyContent" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="CertificationContent">Certification Content</label>
                        <input asp-for="CertificationContent" class="form-control" placeholder="Certification Content">
                        <span asp-validation-for="CertificationContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration">Duration</label>
                        <input asp-for="Duration" class="form-control" placeholder="Duration">
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassDuration">Class Duration</label>
                        <input asp-for="ClassDuration" class="form-control" placeholder="Class Duration">
                        <span asp-validation-for="ClassDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkillLevel">Skill Level</label>
                        <input asp-for="SkillLevel" class="form-control" placeholder="Skill Level">
                        <span asp-validation-for="SkillLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language">Language</label>
                        <input asp-for="Language" class="form-control" placeholder="Language">
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentCount">Student Count</label>
                        <input asp-for="StudentCount" class="form-control" placeholder="Skill Level">
                        <span asp-validation-for="SkillLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Assesment">Assesment</label>
                        <input asp-for="Assesment" class="form-control" placeholder="Assesment">
                        <span asp-validation-for="Assesment" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Parent Categories</label>
                        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" placeholder="Parent Categories"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>